<footer>
    <div class="prefooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 pad0 foot-bor-text-left">
                    <aside id="block-14" class="widget widget_block">
                        <h5 class="widget-title">About Us</h5>
                        <div class="textwidget">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                                mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede.</p>
                        </div>
                    </aside>
                </div>

                <div class="col-md-4 col-sm-12 pad0 foot-bor">
                    <aside id="block-17" class="widget widget_block">
                        <h5 class="widget-title">Recent Posts</h5>
                    </aside>
                    <aside id="block-15" class="widget widget_block widget_recent_entries">
                        <ul class="wp-block-latest-posts__list wp-block-latest-posts">
                            <li>One  of a Kind Personalized Attention</li>
                            <li>The Privacy, Data Protection and Cybersecurity</li>
                            <li>You Can Trust Law  Counsel</li>
                        </ul>
                    </aside>
                </div>

                <div class="col-md-4 col-sm-12 pad0 foot-bor br0-text-right">
                    <aside id="block-20" class="widget widget_block">
                        <h5 class="widget-title">Calendar</h5>
                    </aside>
                    <aside id="block-19" class="widget widget_block widget_calendar">
                        <div class="wp-block-calendar">
                            <table id="wp-calendar" class="wp-calendar-table">
                                <caption>December 2023</caption>
                                <thead>
                                    <tr>
                                        <th scope="col" title="Monday">M</th>
                                        <th scope="col" title="Tuesday">T</th>
                                        <th scope="col" title="Wednesday">W</th>
                                        <th scope="col" title="Thursday">T</th>
                                        <th scope="col" title="Friday">F</th>
                                        <th scope="col" title="Saturday">S</th>
                                        <th scope="col" title="Sunday">S</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4" class="pad">&nbsp;</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td id="today">12</td>
                                        <td>13</td>
                                        <td>14</td>
                                        <td>15</td>
                                        <td>16</td>
                                        <td>17</td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>19</td>
                                        <td>20</td>
                                        <td>21</td>
                                        <td>22</td>
                                        <td>23</td>
                                        <td>24</td>
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>26</td>
                                        <td>27</td>
                                        <td>28</td>
                                        <td>29</td>
                                        <td>30</td>
                                        <td>31</td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav aria-label="Previous and next months" class="wp-calendar-nav">
                                <span class="wp-calendar-nav-prev"></span>
                                <span class="pad">&nbsp;</span>
                                <span class="wp-calendar-nav-next">&nbsp;</span>
                            </nav>
                        </div>
                    </aside>
                </div>


            </div>
        </div>
    </div>

    <div class="bottomfooter">
        <div class="container text-center">
            <div class="col-md-12">
                <div class="copyright">Powered By WordPress&nbsp;|&nbsp;<a href="https://codethemes.co/"
                        target="_blank"> Code Themes</a></div>
            </div>
        </div>
    </div>
</footer>