<div class="container">
  <div class="row">
      <!-- Content on the Left -->
      <div class="col-md-8"style="padding-top: 60px;">
      	<header class="entry-header">
          <h3 class="entry-title">Read from our Blog</h3>	</header><!-- .entry-header -->
      
        
        <div class="entry-content">
          <p>				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
      <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
      <p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
      <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
      <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.		</p>
        </div><!-- .entry-content -->
      </div>

      <!-- Widgets on the Right -->
      <div class="col-md-4">
          <!-- Widget 1 -->
          <aside id="block-2" class="widget widget_block widget_search">
              <!-- Widget content -->
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
          </aside>

          <!-- Widget 2 -->
          <aside id="block-3" class="widget widget_block">
              <!-- Widget content -->
              <div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
                  <div class="wp-block-group__inner-container">
                      <h2 class="wp-block-heading">Recent Posts</h2>
                      <ul class="wp-block-latest-posts__list wp-block-latest-posts">
                          <p>One of a Kind Personalized Attention</p>
                          <p>The Privacy, Data Protection and Cybersecurity</p>
                          <p>You Can Trust Law Counsel</p>
                      </ul>
                  </div>
              </div>
          </aside>

          <!-- Widget 3 -->
          <aside id="block-4" class="widget widget_block">
              <!-- Widget content -->
              <div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
                  <div class="wp-block-group__inner-container">
                      <h2 class="wp-block-heading">Recent Comments</h2>
                      <!-- <ol class="wp-block-latest-comments">
                          <li class="wp-block-latest-comments__comment">
                              <article>
                                  <footer class="wp-block-latest-comments__comment-meta">
                                   
                                  </footer>
                              </article>
                          </li>
                      </ol> -->

                      <p>A WordPress Commenter on You Can Trust Law Counsel</p>
                  </div>
              </div>
          </aside>

          <!-- Widget 4 -->
          <aside id="block-5" class="widget widget_block">
              <!-- Widget content -->
              <div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
                  <div class="wp-block-group__inner-container">
                      <h2 class="wp-block-heading">Archives</h2>
                      <ul class="wp-block-archives-list wp-block-archives">
                          <li>November 2018</li>
                      </ul>
                  </div>
              </div>
          </aside>

          <!-- Widget 5 -->
          <aside id="block-6" class="widget widget_block">
              <!-- Widget content -->
              <div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
                  <div class="wp-block-group__inner-container">
                      <h2 class="wp-block-heading">Categories</h2>
                      <ul class="wp-block-categories-list wp-block-categories">
                          <li> Uncategorized</li>
                      </ul>
                  </div>
              </div>
          </aside>
          <aside id="search-1" class="widget widget_search">
            <form class="search-form" action="https://demo.codethemes.co/lawyerpress-lite/" method="get">
                    <label>
                <input type="search" name="s" class="search-field" placeholder="Search &hellip;" autocomplete="off"></label>
                <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                </form> <!-- end .search-form --></aside>


        <aside id="recent-posts-1" class="widget widget_recent_entries">
            <h3 class="widget-title">Recent Posts</h3>
            <ul>
                <li>
                    <a href="https://demo.codethemes.co/lawyerpress-lite/one-of-a-kind-personalized-attention/">One
                        of a Kind Personalized Attention</a>
                </li>
                <li>
                    <a
                        href="https://demo.codethemes.co/lawyerpress-lite/the-privacy-data-protection-and-cybersecurity/">The
                        Privacy, Data Protection and Cybersecurity</a>
                </li>
                <li>
                    <a href="https://demo.codethemes.co/lawyerpress-lite/hello-world-2/">You Can Trust Law
                        Counsel</a>
                </li>
            </ul>

        </aside>

        <aside id="recent-comments-1" class="widget widget_recent_comments">
            <h3 class="widget-title">Recent Comments</h3>
            <ul id="recentcomments">
                <li class="recentcomments"><span class="comment-author-link"><a href="https://wordpress.org/"
                            class="url" rel="ugc external nofollow">A WordPress Commenter</a></span> on <a
                        href="https://demo.codethemes.co/lawyerpress-lite/hello-world-2/#comment-2">You Can Trust
                        Law Counsel</a></li>
            </ul>
        </aside>
        <aside id="archives-1" class="widget widget_archive">
            <h3 class="widget-title">Archives</h3>
            <ul>
                <li><a href='https://demo.codethemes.co/lawyerpress-lite/2018/11/'>November 2018</a></li>
            </ul>

        </aside>

      </div>
  </div>
</div>
